@use "./mixin" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: auto;
}

[data-media="pc"] {
  @include sp {
    display: none !important;
  }
}

[data-media="sp"] {
  @include pc {
    display: none !important;
  }
}
